header{
    color: blueviolet;
    font-family: "Cooper Black";
    font-style: italic;
    font-size: 35px;
    position: absolute;
    left: 40%;

}
h1{
    position: absolute;
    top: 10%;
    left: 40%;
}
nav{
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 25px;
}